*{
    margin: 0;
    padding: 0;
}

body{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-title{
    padding: 10px 20px;
    font-weight: 900;
    font-size: 42px;
    text-align: center;  
}

.container{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-labels,
.container-inputs,
.container-button{
    display: flex;
    justify-content: space-between;
}

.container-button{
    margin-top: 20px;
}

.container-label{
    width: 20%;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
}


